
<div class="outbox">
    {{template "header" .}}
    <div class="table-container is-centered" style="margin:0 auto">
        <table class="table" >
            <tbody>
            <tr>
                <td id="deployment" v="{{.Data.DepDetail.Name}}">名称：{{.Data.DepDetail.Name}}</td>
                <td id="ns" v="{{.Data.DepDetail.NameSpace}}">命名空间：{{.Data.DepDetail.NameSpace}}</td>
                <td>镜像：{{.Data.DepDetail.Images}}</td>
                <td>创建时间：{{.Data.DepDetail.CreatedAt}}</td>
            </tr>
            <tr>
                <td>副本：可用 {{index .Data.DepDetail.Replicas 1}} /不可用 {{index .Data.DepDetail.Replicas 2}}
                    <button id="incr" class="button is-info is-small is-btn is-bold">+</button>
                    <button id="dec" class="button is-info is-small is-btn is-bold">-</button>
                </td>
            </tr>
            </tbody>
        </table>

        <nav class="panel"  >
            <p class="panel-heading">
                Pods信息
            </p>
            <div class="table-container">
                <table class="table"  >
                    <thead>
                    <th>阶段</th>
                    <th>状态</th>
                    <th>名称</th>
                    <th>镜像</th>
                    <th>主机</th>
                    <th>创建时间</th>
                    <th></th>
                    </thead>
                    <tbody id="podlist">
                    <tr>
                        <td>
                            ${Phase}
                            <p class="is-red">${Message}</p>
                        </td>
                        <td>${Status}</td>
                        <td>
                            ${Name}
                            <p class="is-gray">${Ip[0]}</p>
                        </td>
                        <td>${Images}</td>
                        <td>
                            ${NodeName}
                            <p class="is-gray">${Ip[1]}</p>
                        </td>
                        <td>${CreatedAt} </td>
                        <td><a href="/api/pod?pod=${Name}&ns=${NameSpace}" target="_blank">查看JSON</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </nav>
    </div>

</div>

{{template "footer" .}}
<script>
    function getObject(incr){
        return {
            "ns":$("#ns").attr("v"),
            "deployment":$("#deployment").attr("v"),
            "incr":incr
        }
    }
    function incr(dec){
        $.ajax({
            type: "POST",
            url: "/deployment/scale/update",
            data: JSON.stringify(getObject(dec)),
            dataType: "json",
            success: function(data){
                //alert("操作成功")
                self.location.reload()
            },
            error:function (data) {
                alert(data.responseJSON.error)
            }
        })
    }
    $("#incr").click(function () {
        incr(true)
    })
    $("#dec").click(function () {
        incr(false)
    })

    let orgData=""
    let tmpl=$("#podlist").html()
    $("#podlist").html("");
    $.template("pods", tmpl);
    const ns=$("#ns").attr("v")
    const dep=$("#deployment").attr("v")
    function loadPods() {
        $.ajax({
            type: "GET",
            url: "/api/deployment/pods?namespace="+ns+"&deployment="+dep,
            dataType: "json",
            success: function (data) {
                let tmpMd5=md5(JSON.stringify(data.data))
                if(tmpMd5!==orgData){
                    $("#podlist").html("");
                    let pods=data.data;    // pods列表
                    pods.forEach((pod)=>{
                        if(pod.IsReady){
                            pod.Status="Active"
                            pod.Message=""
                        }
                        else
                            pod.Status="Waiting"
                    })
                    $.tmpl("pods", pods)
                        .appendTo("#podlist");
                    orgData=tmpMd5
                }
            },
            error: function (data) {
                alert(data.responseJSON.error)
            }
        })
    }
    loadPods()
    window.setInterval("loadPods()",2000)

</script>