
<div class="outbox">
    {{template "header" .}}
    <div class="table-container is-centered" style="margin:0 auto">
        <table class="table" >
            <thead>
            <tr>
                <td colspan="100">
                    <span><input type="button" onclick="self.location='/create/deployment'" class="button" value="创建" /></span>
                    <span><input type="button" id="cmdDelDep" class="button" value="删除" /></span>
                </td>
                <script>
                    $("#cmdDelDep").click(function(){
                        $(".dep").each(function () {
                            if($(this).prop("checked")){
                                $.ajax({
                                    type: "DELETE",
                                    url: "/api/deployment?ns=" + $(this).attr("ns") + "&deployment=" + $(this).attr("dep"),
                                    dataType: "json",
                                })
                            }
                        })
                    })
                </script>
            </tr>
            </thead>
            <thead>
            <tr>
                <th style="width:50px"></th>
                <th style="width:100px">状态</th>
                <th style="width:40%">名称</th>
                <th style="width:20%">镜像</th>
                <th style="width:10%">Pod副本数</th>
            </tr>
            </thead>

            <tbody id="dep">
            <tr>
                <td><input  class="dep"  ns="${NameSpace}"  dep="${Name}"  type="checkbox" type="checkbox"/></td>
                <td> - </td>
                <td><a href="/deployment/${Name}">${Name}</a></td>
                <td>${Images}</td>
                <td class="is-border"> <span  >${Replicas[0]}</span>
                    / <span class="is-green  ">${Replicas[1]}</span>
                    /  <span class=" is-red">${Replicas[2]}</span></td>
            </tr>
            </tbody>
        </table>
    </div>

    <script>
        let orgData=""
        let tmpl=$("#dep").html()
        $("#dep").html("");
        $.template( "deployments", tmpl );
        function loadDeployments() {
            $.ajax({
                type: "GET",
                url: "/api/deployments",
                dataType: "json",
                success: function (data) {
                    let tmpMd5=md5(JSON.stringify(data.data))
                    if(tmpMd5!==orgData) {
                        $("#dep").html("");
                        orgData=tmpMd5
                        $.tmpl("deployments", data.data)
                            .appendTo("#dep");
                    }
                },
                error: function (data) {
                    alert(data.responseJSON.error)
                }
            })
        }
        loadDeployments()
        window.setInterval("loadDeployments()",2000)
    </script>

</div>

{{template "footer" .}}